@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Cookie&family=Dancing+Script:wght@400;500;600;700&family=Fruktur&family=Great+Vibes&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&family=Zen+Kurenaido&display=swap");
@use '../../scss/' as *;
@forward './variables';
@forward './breakpoint';
@forward './mixin';
.logo {
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: unset; }
  .logo img {
    margin-right: 10px;
    width: 50px; }
    @media only screen and (max-width: 600px) {
      .logo img {
        width: 30px;
        margin-right: 0; } }

.header {
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: height .3s ease-in-out background-color .3s ease-in-out; }
  .header.shrink {
    height: 5rem;
    background-color: #0f0f0f; }
  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 2rem; }
    @media only screen and (max-width: 600px) {
      .header__wrap {
        justify-content: center; } }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: unset; }
    .header__nav > * ~ * {
      margin-left: 2rem; }
    .header__nav li {
      padding: 5px 0;
      font-weight: 700;
      position: relative;
      font-size: 1.5rem; }
      .header__nav li::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.5s ease;
        height: 2px;
        background-color: #ff0000; }
      .header__nav li.active::after, .header__nav li:hover::after {
        width: 100%; }
    @media only screen and (max-width: 600px) {
      .header__nav {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        background-color: #0f0f0f;
        padding: 0 2rem;
        box-shadow: rgba(100, 100, 11, 0.2) 0px 7px 29px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .header__nav > * ~ * {
          margin-left: 0; } }

@use "../../scss/" as *;
@forward './variables';
@forward './breakpoint';
@forward './mixin';
button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif; }

.btn {
  border: 4px solid transparent;
  background-color: #ff0000;
  color: #fff;
  border-radius: 30px;
  padding: .5rem 1.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 0px 7px 8px #ff00004d;
  transition: box-shadow .3s ease-in-out;
  position: relative; }
  .btn:hover {
    box-shadow: 0px 0px 7px 15px #ff00004d; }

.small {
  border-width: 2px;
  padding: .25rem 1.5rem;
  font-size: 1rem; }

.btn-outline {
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  box-shadow: unset;
  transition: color .3s ease-in-out, background-color .3s ease-in-out; }
  .btn-outline:hover {
    box-shadow: unset;
    color: #ff0000;
    background-color: #fff; }

@use "../../scss/" as *;
@forward './variables';
@forward './breakpoint';
@forward './mixin';
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden; }
  .modal.active {
    padding: 2rem;
    background-color: #0f0f0f;
    width: 50%;
    opacity: 0;
    transform: translateY(-250px);
    transition: transform .6 ease-in-out, opacity .6s ease-in-out;
    position: relative; }
    @media only screen and (max-width: 1024px) {
      .modal.active {
        width: 80%; } }
    .modal.active__close {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 1.5rem;
      cursor: pointer; }
      .modal.active__close:hover {
        color: #ff0000; }
  .modal.active .modal__content {
    opacity: 1;
    transform: translateY(0); }

@use "../../scss/" as *;
@forward './variables';
@forward './breakpoint';
@forward './mixin';
.hero_slide {
  margin-bottom: 3rem; }
  .hero_slide__item {
    padding: 9rem 0;
    width: 100%;
    position: rela tive;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .hero_slide__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); }
    .hero_slide__item::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0)); }
    .hero_slide__item__content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .hero_slide__item__content__info {
        width: 55%;
        padding: 0 3rem; }
        @media only screen and (max-width: 1024px) {
          .hero_slide__item__content__info {
            width: 100%; } }
        .hero_slide__item__content__info > * ~ * {
          margin-top: 3rem; }
        .hero_slide__item__content__info .title {
          font-size: 5rem;
          font-weight: 700;
          line-height: 1; }
          @media only screen and (max-width: 1024px) {
            .hero_slide__item__content__info .title {
              font-size: 4rem; } }
        .hero_slide__item__content__info .overview {
          font-weight: 700; }
        .hero_slide__item__content__info .btns > * ~ * {
          margin-left: 1rem; }
        .hero_slide__item__content__info .btns, .hero_slide__item__content__info .title, .hero_slide__item__content__info .overview {
          opacity: 0;
          transform: translateY(-100px);
          transition: transform ,5s ease-in-out, opacity .5s ease-in-out; }
      .hero_slide__item__content__poster {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; }
        .hero_slide__item__content__poster img {
          width: 400px;
          border-radius: 30px;
          box-shadow: rgba(100, 100, 11, 0.2) 0px 7px 29px 0px;
          transform: scale(0);
          transition: transform .7s ease-in-out; }
        @media only screen and (max-width: 1024px) {
          .hero_slide__item__content__poster {
            display: none; } }
    .hero_slide__item.active > .hero_slide__item__content > .hero_slide__item__content__poster img {
      transform: scale(1); }
    .hero_slide__item.active > .hero_slide__item__content > .hero_slide__item__content__info .btns, .hero_slide__item.active > .hero_slide__item__content > .hero_slide__item__content__info .title, .hero_slide__item.active > .hero_slide__item__content > .hero_slide__item__content__info .overview {
      opacity: 1;
      transform: translateY(0); }
    .hero_slide__item.active > .hero_slide__item__content > .hero_slide__item__content__info .title {
      transition-delay: .3s, .3s; }
    .hero_slide__item.active > .hero_slide__item__content > .hero_slide__item__content__info .overview {
      transition-delay: .6s, .6s; }
    .hero_slide__item.active > .hero_slide__item__content > .hero_slide__item__content__info .btns {
      transition-delay: .9s, .9s; }

@use "../../scss/" as *;
@forward './variables';
@forward './breakpoint';
@forward './mixin';
.movie_list .swiper-slide {
  width: 15%; }
  @media only screen and (max-width: 1024px) {
    .movie_list .swiper-slide {
      width: 30%; } }
  @media only screen and (max-width: 600px) {
    .movie_list .swiper-slide {
      width: 40%; } }

@use "../../scss/" as *;
@forward './variables';
@forward './breakpoint';
@forward './mixin';
.movie_card {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 1rem;
  height: 400px;
  display: grid;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .movie_card {
      height: 200px; } }
  .movie_card .btn {
    transform: scale(0);
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out; }
  .movie_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    border-radius: 30px;
    transition: opacity .3s ease-in-out; }
  @media (hover: hover) and (pointer: fine) {
    .movie_card:hover::before {
      opacity: .8; }
    .movie_card:hover .btn {
      transform: scale(1);
      opacity: 1; } }

@use "../../scss/" as *;
@forward './variables';
@forward './breakpoint';
@forward './mixin';
.footer {
  position: relative;
  padding: 6rem 2rem;
  display: grid;
  justify-content: center; }
  .footer__content {
    max-width: 1000px;
    width: 100%; }
    .footer__content__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem; }
    .footer__content__menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem; }
      @media only screen and (max-width: 600px) {
        .footer__content__menus {
          grid-template-columns: repeat(2, 1fr); } }
      .footer__content__menus__menu {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 600; }
        .footer__content__menus__menu > * ~ * {
          margin-top: 1rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 100%; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 60%; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #0f0f0f;
  color: #fff; }
  @media only screen and (max-width: 600px) {
    body {
      margin-bottom: 3rem; } }

a {
  text-decoration: none;
  color: unset; }

@media (hover: hover) {
  a:hover {
    color: #ff0000; } }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

iframe {
  border: 0; }

.container {
  max-width: 1660px;
  margin: auto; }

.mb_3 {
  margin-bottom: 3rem; }

.mb_2 {
  margin-bottom: 2rem; }

.section {
  padding: 0 2rem; }

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
