$body_bg: #0f0f0f;
$main_color: #ff0000;
$txt_color: #fff;

$white: #fff;
$black: #000;

$box_shadow: rgba(100, 100, 11, 0.2) 0px 7px 29px 0px;
$box_shadow_whine: 0px 0px 7px 8px #ff00004d;
$box_shadow_whine_hover: 0px 0px 7px 15px #ff00004d;

$header_height: 8rem;
$header_shrink_height: 5rem;
$border_radius: 30px;
$mobile_width: 600px;
$tablet_width: 1024px;

$font_family: "Montserrat", sans-serif;